.dashboard {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.dashboard__header {
  display: flex;
  background-color: #d2edf4;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
}

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  border: none;
  color: white;
  background-color:#0c3754;
  border-radius: 5px;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.dashboard__content {
  width: 100%;
  margin: 20px auto;
}


