.header {
  margin-top: 50px;
}

.header .logo {
  position: absolute;
  right : 10px;
  top : 10px;
}

.header .logo .logo-img{
  width: 130px;
}

@media only screen and (max-width: 600px) {
  .header .logo {
   position: static;
   text-align: center;
  }

  .header .logo .logo-img{
    width: 100px;
  }
}